* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;;
}

body{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #333;
}

.game-window {
    width: 80%;
    height: 500px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-color: rgb(35, 172, 218);
    background-size: cover;
    border-radius: 5px;
    border-bottom: 15px solid rgb(9, 161, 9);
    display: flex;
    justify-content: center;
}
.game-window > .sky { 
    position: absolute;
    width: 100%;
}

.game-window > .sky .clounds {
    width: 15%;
    position: absolute;
    right: 0;
}

.game-window > .sky .clound1 {
    top: 20%;
    animation: clound1 35s infinite linear
}

.game-window > .sky .clound2 {
    animation: clound2 50s infinite linear
}


.game-window > .sky .passaro {
    width: 5%;
    position: absolute;
    right: 0;
}

.game-window > .sky .passaro2{
    top: 40%;
    animation: passaro2 25s infinite linear
}

.game-window > .sky .passaro1 {
    animation: passaro1 20s infinite linear
}

.game-window > .title {
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 20%;
    font-size: 4rem;
    text-shadow: 4px 2px #fff;

}

.game-window > .press_start {
    visibility: visible;
    height: 100%;
    width: 100%;    
    position: absolute;
    text-align: center;
    top: 55%;
    font-size: 2em;
    color: #ef0000;
    text-shadow: 2px 2px #fff;
    animation: press_start 0.8s infinite linear;
}

.game-window > .aumentar_velocidade {
    visibility: hidden;
    height: 100%;
    width: 100%;    
    position: absolute;
    text-align: center;
    top: 35%;
    font-size: 2.4em;
    color: #eae3d3;
    text-shadow: 2px 2px #373131;
    animation: aumentar_velocidade 0.8s infinite ease-out;
}
.game-window > .game_over {
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 20%;
    font-size: 5rem;
    text-shadow: 4px 2px #fff;
    visibility:hidden;
    z-index: 99;
}

.game-window > h2 {
    height: 100%;
    width: 100%;
    visibility: hidden;
    font-size: 2rem;
    top: 50%;
    text-align: center;
    position: absolute;
}

.game-window > .bottom .pipe{
    height: 15%;
    position: absolute;
    bottom: 0;
    animation-name: pipe-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.game-window > .bottom .running {
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 30%;
    
}

.game-window > .bottom .dormindo {
    position: absolute;
    left: 0;
    bottom: -50px;
    height: 20%;
    z-index: 99;
}

.game-window > .bottom .abaixado {
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 18%;
    z-index: 99;
}

.game-window > .bottom .perdeu {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40%;
}

.game-window > .mario_appear {
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.game-window > .mario_appear > .mario_aplaudindo {
    visibility: hidden;
    position: absolute;
    bottom: -8px;
    height: 30%;
}

.game-window > .mario_appear .fumaca {
    visibility: hidden;
    position: absolute;
    z-index: 99;
    
}


.jump {
    animation: jump 500ms ease-out;
}

.game-window > .box_score{ 
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.game-window > .box_score > #score {
    font-family: inherit;
    font-weight: 700;
    font-size: 2rem;
    background-color: transparent;
    text-align: center;
    border: none;
}

.button_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button_div > .start {
    padding: 10px 30px;
    font-weight: 700px;
    font-size: 1.5rem;
    border-radius: 10px;
    box-shadow: 2px 2px 0 1px #0b0b0b;
    cursor: pointer;
}

.button_div > .start:active {
    box-shadow: 0 0 0 0 0 #0b0b0b, inset 3px 3px #0b0b0b;
    transform: translate(3px, 3px);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
footer > p {
    color: #fff;
}

footer > p > a {
    color: #2cef00;
    text-decoration: none;
}

footer > p > a:hover {
    text-decoration: underline;
}
/* Criando keyframes do cano fazendo o slide. o right foi definido como -150px para que possa ir aprecendo devagar */
@keyframes pipe-animation {
    from {
        right: -150px;
    }
    to {
        right: 100%;
    }
}
/* Criando keyframe do pássaro1 */
@keyframes passaro1 {
    from {
        right: -100%;
    }
    to {
        right: 100%;
    }
}

/* Criando keyframe do pássaro2 com um tempo de aparecimento diferente do passaro1 */
@keyframes passaro2 {
    from {
        right: -300%;
    }
    to {
        right: 100%;
    }
}

/* Criando o keyframe para o mario pular */

@keyframes jump {
    0% {
        bottom: 0;
    }
    40% {
        bottom: 180px;
    }
    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}

/* Criando o keyframe da núvem de baixo*/
@keyframes clound1 {
    from {
        right: -20%;
    }
    to {
        right: 100%;
    }
}

/* Criando o keyframe da núvem de cima */
@keyframes clound2 {
    from {
        right: -100%;
    }
    to {
        right: 100%;
    }
}

@keyframes press_start {
    0% {
        scale: 1;
    }
    25% {
        scale: 1.05;
    }
    50% {
        scale: 1.1;
    }
    50% {
        scale: 1.15;
    }
    75% {
        scale: 1.175;
    }
    100% {
        scale: 1.2;
    }
}

@keyframes aumentar_velocidade {
    0% {
        scale: 1;
    }
    25% {
        scale: 1.02;
    }
    50% {
        scale: 1.04;
    }
    50% {
        scale: 1.06;
    }
    75% {
        scale: 1.08;
    }
    100% {
        scale: 1.1;
    }
}