* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;;
}

body{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #333;
}

.game-window {
    width: 80%;
    height: 500px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-color: rgb(35, 172, 218);
    background-size: cover;
    border-radius: 5px;
    border-bottom: 15px solid rgb(9, 161, 9);

}

.game-window > .clounds {
    width: 15%;
    position: absolute;
    right: 0;
}

.game-window > .clound1 {
    top: 20%;
    animation: clound1 35s infinite linear
}

.game-window > .clound2 {
    animation: clound2 50s infinite linear
}


.game-window > .passaro {
    width: 5%;
    position: absolute;
    right: 0;
}

.game-window > .passaro2{
    top: 40%;
    animation: passaro2 25s infinite linear
}

.game-window > .passaro1 {
    animation: passaro1 20s infinite linear
}

.game-window > h1 {
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 20%;
    font-size: 5rem;
    text-shadow: 4px 2px #fff;
    visibility:hidden;
    z-index: 99;
}

.game-window > .pipe{
    height: 15%;
    position: absolute;
    bottom: 0;
    animation: pipe-animation 2s infinite linear;
}

.game-window > .homer {
    position: absolute;
    bottom: 0;
    height: 30%;
    z-index: 99;
}

.jump {
    animation: jump 500ms ease-out;
}

.game-window > .box_score{ 
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-window > .box_score > #score {
    font-family: inherit;
    font-weight: 700;
    font-size: 2rem;
    background-color: transparent;
    width: 80px;
    text-align: center;
    border: none;
}


/* Criando keyframes do cano fazendo o slide. o right foi definido como -150px para que possa ir aprecendo devagar */
@keyframes pipe-animation {
    from {
        right: -150px;
    }
    to {
        right: 100%;
    }
}
/* Criando keyframe do pássaro1 */
@keyframes passaro1 {
    from {
        right: -100%;
    }
    to {
        right: 100%;
    }
}

/* Criando keyframe do pássaro2 com um tempo de aparecimento diferente do passaro1 */
@keyframes passaro2 {
    from {
        right: -300%;
    }
    to {
        right: 100%;
    }
}

/* Criando o keyframe para o mario pular */

@keyframes jump {
    0% {
        bottom: 0;
    }
    40% {
        bottom: 180px;
    }
    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}

/* Criando o keyframe da núvem de baixo*/
@keyframes clound1 {
    from {
        right: -20%;
    }
    to {
        right: 100%;
    }
}

/* Criando o keyframe da núvem de cima */
@keyframes clound2 {
    from {
        right: -100%;
    }
    to {
        right: 100%;
    }
}

